body {
    margin: 0; /*отступы по ширине страницы*/
}

.line {
    width: 100%;
    height: 8px;
    background: #a292b3;
}

.header {
    width: 1020px;
    height: 130px;
    display: flex; /*ставит в ряд элементы* 2 эл. внизу позволяет вернуть размер*/
    align-items: center; /*вертикальное выравнивание*/
    justify-content: space-between; /*разводит по углам*/
    margin: 0 auto; /*распределяет по всей стороне блока*/
    color: #545454;
    }
    
    .buttons {
        display: flex; /*ставит в ряд*/
        align-items: center; /*вертикальное выравнивание*/
        width: 600px;
        justify-content: space-between; /*распределяет по ширине*/
        }

    .buttons-item{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .button-img
    {
        margin-right: 10px;
    }

    .slider{
        width: 1020px;
        height: 485px;
        /*border: 1px solid red;/* для ориентирования блока*/
        margin: 0 auto; /*распределяет по всей стороне блока*/
        background: url("../images/banner.jpg"); /*подключает картинку. выходим из папки css*/
        background-repeat: no-repeat; /*не повторяет картирку*/
        background-position: center; /*видим область, которая попала в центр видимой области*/
        background-size: cover; /*вся видимая область будет заполнена*/
        position: relative; /*относительно него меряем координаты*/
        color: white;
    }


    .slider-button {
        width: 35px;
        height: 65px;
        background: #a292b3;
        cursor: pointer;
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        position: absolute;
        right: 0;
        top: calc(50% - 32.5px);
       
    }

    .button-left {
        left: 0;
        /*transform: rotate(180deg);поворот блока на 180 градусов*/

    }

    .button-right {
        right: 0;
    }

    .button-right > img {
        transform: rotate(); /*селекторы*/

    }
        
    .slider-title
        {   margin-bottom: 22px;
            font-size: 84px;
            text-shadow: -4px 4px 0 gray;
            

        }

    }